{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
    Our Team
{% endblock %}

{% block head %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="{% static 'css/team.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% include 'layouts/navbar.html' %}}
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    <!-- START TEAM -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 pull-right">
                    <div class="team-section-text">
                        <div class="section-text">
                            <h2 class="section-title">Our Awesome Team</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi vitae quas necessitatibus
                                explicabo, beatae earum sit aperiam doloribus voluptates dolore laudantium repudiandae, qui
                                architecto iste reprehenderit pariatur voluptate. Hic, laboriosam!
                            </p>
                        </div>
                        <!-- END section-text-->
                    </div>
                    <!-- END team-section-text-->
                </div>
                <!-- END col-md-5 col-sm-12 pull-right-->
                <div class="col-md-7 col-sm-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="team-list">
                                <ul>
                                    <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".1s">
                                        <a href="#team-1" data-team="team-1">
                                            <figure>
                                                <img src="https://i.ibb.co/xCNs0Qn/vedant.jpg" alt="Team Member image One">
                                            </figure>
                                        </a>
                                    </li>
                                    <li class="active wow zoomIn" data-wow-duration="1s" data-wow-delay=".3s">
                                        <a href="#team-2" data-team="team-2">
                                            <figure>
                                                <img src="https://i.ibb.co/Pwq8Xgm/sujal-1.jpg" alt="Team Member image two">
                                            </figure>
                                        </a>
                                    </li>
                                    <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                                        <a href="#team-3" data-team="team-3">
                                            <figure>
                                                <img src="https://i.ibb.co/DgLFxcC/kanishk-1.jpg"
                                                    alt="Team Member image three">
                                            </figure>
                                        </a>
                                    </li>
                                    <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".7s">
                                        <a href="#team-4" data-team="team-4">
                                            <figure>
                                                <img src="https://i.ibb.co/Db2NZMv/32c39cd3-0f05-40f9-9008-b79e269a65ce.jpg"
                                                    alt="Team Member image four">
                                            </figure>
                                        </a>
                                    </li>
                                    <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".9s">
                                        <a href="#team-5" data-team="team-5">
                                            <figure>
                                                <img src="https://i.ibb.co/Ytw76xj/f71eeb0e-6b0d-4ee3-a48a-42cd471236a2.jpg"
                                                    alt="Team Member image One">
                                            </figure>
                                        </a>
                                    </li>
                                    <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".9s">
                                        <a href="#team-6" data-team="team-6">
                                            <figure>
                                                <img src="https://i.ibb.co/fqHHBdf/subodh.jpg" alt="Team Member image One">
                                            </figure>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- END team-list-->
                        </div>
                        <!-- END col-sm-4-->
                        <div class="col-md-9 col-sm-8">
    
                            <div id="team-1" class="team-single">
                                <div class="team-img">
                                    <img src="https://i.ibb.co/xCNs0Qn/vedant.jpg" alt="">
                                    <div class="team-social">
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- END team-social-->
                                </div>
                                <!-- END team-img-->
                                <div class="team-info text-center">
                                    <h4>Vedant Karle</h4>
                                    <p></p>
                                </div>
                                <!-- END team-info-->
                            </div>
                            <!-- END team-single-->
    
    
                            <div id="team-2" class="team-single active">
                                <div class="team-img">
                                    <img src="https://i.ibb.co/Pwq8Xgm/sujal-1.jpg" alt="">
                                    <div class="team-social">
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- END team-social-->
                                </div>
                                <!-- END team-img-->
                                <div class="team-info text-center">
                                    <h4>Sujal Jain</h4>
                                    <p></p>
                                </div>
                                <!-- END team-info-->
                            </div>
                            <!-- END team-single-->
    
    
                            <div id="team-3" class="team-single">
                                <div class="team-img">
                                    <img src="https://i.ibb.co/DgLFxcC/kanishk-1.jpg" alt="">
                                    <div class="team-social">
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- END team-social-->
                                </div>
                                <!-- END team-img-->
                                <div class="team-info text-center">
                                    <h4>Ksnishk Jamgaonkar</h4>
                                    <p></p>
                                </div>
                                <!-- END team-info-->
                            </div>
                            <!-- END team-single-->
    
    
                            <div id="team-4" class="team-single">
                                <div class="team-img">
                                    <img src="https://i.ibb.co/Db2NZMv/32c39cd3-0f05-40f9-9008-b79e269a65ce.jpg" alt="">
                                    <div class="team-social">
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- END team-social-->
                                </div>
                                <!-- END team-img-->
                                <div class="team-info text-center">
                                    <h4>Sanchita Bisht</h4>
                                    <p></p>
                                </div>
                                <!-- END team-info-->
                            </div>
                            <!-- END team-single-->
    
                            <div id="team-5" class="team-single">
                                <div class="team-img">
                                    <img src="https://i.ibb.co/Ytw76xj/f71eeb0e-6b0d-4ee3-a48a-42cd471236a2.jpg" alt="">
                                    <div class="team-social">
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- END team-social-->
                                </div>
                                <!-- END team-img-->
                                <div class="team-info text-center">
                                    <h4>Varshit Modi</h4>
                                    <p></p>
                                </div>
                                <!-- END team-info-->
                            </div>
                            <!-- END team-single-->
                            <div id="team-6" class="team-single">
                                <div class="team-img">
                                    <img src="https://i.ibb.co/fqHHBdf/subodh.jpg" alt="Subodh Verma">
                                    <div class="team-social">
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- END team-social-->
                                </div>
                                <!-- END team-img-->
                                <div class="team-info text-center">
                                    <h4>Subodh Verma</h4>
                                    <p></p>
                                </div>
                                <!-- END team-info-->
                            </div>
                            <!-- END team-single-->
                        </div>
                        <!-- END col-sm-8-->
                    </div>
                    <!-- END row-->
                </div>
                <!-- END col-md-7 col-sm-12 -->
            </div>
            <!-- END row-->
        </div>
        <!-- END container-->
    </section>
    <!-- END team-->
    <!-- END TEAM -->
    <div class="footer">
        <div class="inner-footer">
            <div class="footer-items">
                <a href="#"><img alt="SShell-Logo" border="0" class="sshell-logo-footer"
                        src="https://i.ibb.co/MgLtyCm/SShell-Logo.png"></a>
            </div>
            <div class="footer-items">
                <h2>Quick Links</h2>
                <ul>
                    <a href="#">
                        <li>Home</li>
                    </a>
    
                    <a href="/team.html">
                        <li>Our Team</li>
                    </a>
                    <a href="/contact.html">
                        <li>Contact Us</li>
                    </a>
                    <a href="/PrivacyPolicy.html">
                        <li>Privacy Policy</li>
                    </a>
                </ul>
            </div>
            <div class="footer-items">
                <h1>Services</h1>
                <ul>
                    <a href="/labs.html">
                        <li>Labs</li>
                    </a>
                    <a href="/machines.html">
                        <li>Machines</li>
                    </a>
                    <a href="/CTF.html">
                        <li>CTF</li>
                    </a>
                </ul>
            </div>
            <div class="footer-items">
                <h1>Contact us</h1>
                <ul>
                    <li>
                        <i class="fa fa-map-marker-alt"></i>&nbsp;Mit-Wpu,Pune,India
                    </li>
    
                    <a href="mailto:contact@sshell.in">
                        <li> <i style="color: white" class="fa fa-envelope"></i>&nbsp;contact@sshell.in </li>
                    </a>
    
                </ul>
                <div class="social-media" style="color: white;">
                    <a href="https://discord.gg/FK978Zm"><i class="fab fa-discord"></i></a>
                    <a href="https://www.youtube.com/channel/UC-hm8uB-YlyACUhf_nde5ng"><i class="fab fa-youtube"></i></a>
    
                    <a href="https://www.instagram.com/sshell.in/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/sshell"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            Copyright &copy; sshell.in 2020. All rights reserved.
        </div>
    </div>
        <script>
            let progress = document.getElementById("progressbar");
            let totalHeight = document.body.scrollHeight - window.innerHeight;
            window.onscroll = function () {
                let progressHeight = (window.pageYOffset / totalHeight) * 100;
                progress.style.height = progressHeight + "%";
            };
            $(document).ready(function () {
                "use strict";
                $(".team-list").on("click", "a", function (a) {
                    a.preventDefault();
                    var e = $(this).data("team");
                    $(".team-single").removeClass("active"), $(".team-list li").removeClass("active"), $("#" + e).addClass("active"), $(this).parent().addClass("active")
                });
            });
            (function () {
                const header = document.querySelector('.header');
                const icon = document.querySelector('.icon-container');
                icon.onclick = function () {
                    header.classList.toggle('menu-open');
                }
            }());
        </script>
{% endblock %}