{% extends 'base.html' %}
{% block form %}
<form method="POST" action="">
    {% csrf_token %}
        {% if success %}
            <div class="alert alert-success">
                Email successfully sent, Check your email for the password reset link
            </div>
        {% endif %}
        <div class="form-group">
            <label class="text-muted">Enter Username or Email</label>
            <input type="text" name="detail" class="form-control" required />
        </div>
        <div class="form-group text-danger">
            {% if msg %}
                {{msg}}
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-warning" value="Change Password" />
        </div>
</form>
{% endblock %}