{% extends 'base.html' %}
{% block form %}
<form method="POST" action="">
    {% csrf_token %}
        {% if token %}
            <input type="hidden" name="token" value="{{token}}" />
        {% endif %}
        <div class="form-group">
            <label class="text-muted">New Password</label>
            <input type="password" name="password" class="form-control" required />
        </div>
        <div class="form-group">
            <label class="text-muted">Confirm Password</label>
            <input type="password" name="password2" class="form-control" required />
        </div>
        <div class="form-group text-danger">
            {% if msg %}
                {{msg}}
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-warning" value="Reset Password" />
        </div>
</form>
{% endblock %}