{% extends 'base.html' %}
{% block form %}
    <form method="POST" action="">
        {% csrf_token %}
        {% if password_reset %}
            <div class="alert alert-success">
                Password Reset Successfull
            </div>
        {% endif %}
        <div class="form-group">
            <label class="text-muted">Username</label>
            <input type="text" name="username" class="form-control" required />
        </div>
        <div class="form-group">
            <label class="text-muted">Password</label>
            <input type="password" name="password" class="form-control" required />
        </div>
        <div class="form-group text-danger">
            {% if msg %}
                {{msg}}
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" class="form-control btn btn-warning" value="Login" />
        </div>
    </form>
{% endblock %}