<div class="footer">

    <div class="inner-footer">
        <div class="footer-items">
            <a href="#"><img alt="SShell-Logo" border="0" class="sshell-logo-footer"
                    src="https://i.ibb.co/MgLtyCm/SShell-Logo.png"></a>
        </div>
        <div class="footer-items">
            <h2>Quick Links</h2>
            <ul>
                <a href="#">
                    <li>Home</li>
                </a>

                
                <a href="/contact">
                    <li>Contact Us</li>
                </a>
                <a href="/privacypolicy">
                    <li>Privacy Policy</li>
                </a>
            </ul>
        </div>
        <div class="footer-items">
             <h2>Quick Links</h2>
                <ul>
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="/contact.html">
                        <li>Contact Us</li>
                    </a>
            <a href="/PrivacyPolicy.html">
                                    <li>Privacy Policy</li>
                                            </a>
                </ul>
            
        </div>
        <div class="footer-items">
            <h1>Contact us</h1>
            <ul>
                <li>
                    <i class="fa fa-map-marker-alt"></i>&nbsp;Mit-Wpu,Pune,India
                </li>

                <a href="mailto:contact@sshell.in">
                    <li> <i style="color: white" class="fa fa-envelope"></i>&nbsp;contact@sshell.in </li>
                </a>

            </ul>
            <div class="social-media" style="color: white;">
                <a href="https://discord.gg/FK978Zm"><i class="fab fa-discord"></i></a>
                <a href="https://www.youtube.com/channel/UC-hm8uB-YlyACUhf_nde5ng"><i class="fab fa-youtube"></i></a>

                <a href="https://www.instagram.com/sshell.in/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/sshell"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        Copyright &copy; sshell.in 2020. All rights reserved.
    </div>
</div>
