* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("https://i.ibb.co/Cbf2SJc/bg.jpg");
  /* background: url('bg.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  z-index: 99999;
  background: #00b7ff;
}

#progressbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b7ff;
  filter: blur(10px);
}

#progressbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00b7ff;
  filter: blur(10px);
}

.numbers {
  display: flex;
  justify-content: space-around;
}

.flexbox-item {
  width: 170px;
  height: 170px;
  margin: 10px;
  margin-bottom: 50px;
  border: 2px solid #1cceff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
}

.flexbox-item p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.flexbox-item h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.flexbox-item .one {
  position: absolute;
  top: 116%;
}

/* Just container/placeholder rulesets - remove once in production */
.header {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
}
.header {
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  height: 55px;
  width: 100%;
  z-index: 1;
  position: fixed;
  transition: all 0.4s ease-out, background 1s ease-out;
}
.header.menu-open {
  height: 100%;
  background: #111;
  transition: all 0.45s ease-out, background 0.8s ease-out;
}

/* Menu List items */
.mobile-menu {
  clear: both;
}
.header ul.menu {
  position: relative;
  display: block;
  padding: 0px 40px 0;
  list-style: none;
}
.header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 2.8;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
.header ul.menu li.menu-item {
  border-bottom: 1px solid #333;
  margin-top: 5px;
  opacity: 0;
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99),
    -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.header ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.35s;
}
.header ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.3s;
}
.header ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.25s;
}
.header ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.2s;
}
.header ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.15s;
}
.header ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.1s;
}
.header ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.05s;
}
.header.menu-open ul.menu li.menu-item {
  opacity: 1;
}
.header.menu-open ul.menu li.menu-item:nth-child(1) {
  transition-delay: 0.05s;
}
.header.menu-open ul.menu li.menu-item:nth-child(2) {
  transition-delay: 0.1s;
}
.header.menu-open ul.menu li.menu-item:nth-child(3) {
  transition-delay: 0.15s;
}
.header.menu-open ul.menu li.menu-item:nth-child(4) {
  transition-delay: 0.2s;
}
.header.menu-open ul.menu li.menu-item:nth-child(5) {
  transition-delay: 0.25s;
}
.header.menu-open ul.menu li.menu-item:nth-child(6) {
  transition-delay: 0.3s;
}
.header.menu-open ul.menu li.menu-item:nth-child(7) {
  transition-delay: 0.35s;
}

/* Menu Icon */
.icon-container {
  position: relative;
  display: inline-block;
  z-index: 2;
  float: right;
  /* Simply change property to float left to switch icon side :) */
  height: 55px;
  width: 55px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
.icon-container #menuicon {
  width: 20px;
  height: 10px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
#menuicon .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #fff;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
#menuicon .bar.bar1 {
  -webkit-transform: translateY(0px) rotate(0deg);
  transform: translateY(0px) rotate(0deg);
}
#menuicon .bar.bar2 {
  -webkit-transform: translateY(6px) rotate(0deg);
  transform: translateY(6px) rotate(0deg);
}
.menu-open .icon-container {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.menu-open .icon-container #menuicon .bar {
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0.1s;
}
.menu-open .icon-container #menuicon .bar.bar1 {
  -webkit-transform: translateY(4px) rotate(45deg);
  transform: translateY(4px) rotate(45deg);
}
.menu-open .icon-container #menuicon .bar.bar2 {
  -webkit-transform: translateY(3px) rotate(-45deg);
  transform: translateY(3px) rotate(-45deg);
}
@media (max-width: 480px) {
  .header {
    position: fixed;
  }
}
.banner-area {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-area .sshell-logo {
  width: 25%;
  height: 25%;
}
.banner-area h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #00b7ff;
  font-size: 2.5em;
}

.banner-area h3 {
  color: #eee;
  font-size: 2.5em;
}
#about {
  position: relative;
  margin-top: 10%;
}
.join {
  display: block;
  width: 25%;
  height: 50px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #314e7d, #30c1ff, #314e7d);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
}

.join:hover {
  background-position: right;
}

.section-services {
  padding-top: 110px;
  padding-bottom: 120px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.section-services .header-section {
  margin-bottom: 35px;
}

.section-services .header-section .title {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: 700;
}

.section-services .header-section .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 1px;
  background-color: #f70037;
}

.section-services .header-section .title:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 3px;
  background-color: #f70037;
}

.section-services .header-section .title span {
  color: #1cceff;
}

.section-services .header-section .description {
  color: #1d232e;
}

.section-services .single-service {
  margin-top: 40px;
  background-color: #1d232e;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.section-services .single-service .part-1 {
  padding: 40px 40px 25px;
  border-bottom: 2px solid #0b0e1c;
}

.section-services .single-service .part-1 i {
  margin-bottom: 25px;
  font-size: 50px;
  color: #36bfff;
}

.section-services .single-service .part-1 .title {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.8em;
}

.section-services .single-service .part-2 {
  padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
  margin-bottom: 22px;
  color: #fff;
  font-size: 14px;
  line-height: 1.8em;
}

.section-services .single-service .part-2 a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.section-services .single-service .part-2 a i {
  margin-right: 10px;
  color: #36bfff;
}

.numbers .col-lg-4 {
  box-sizing: border-box;
  text-align: center;
  border: 80px solid #36bfff;
  font-size: 40px;
  padding: 60px;
  background: rgba(0, 0, 0, 0.6);
}
#mobile {
  display: none;
}

.footer {
  width: 100%;
  margin: auto;
  margin-top: 50px;
  display: block;
  background: #1d232e;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 1px 20px;
  box-sizing: border-box;
}

.sshell-logo-footer {
  position: absolute;
  width: 15%;
}

.footer h1 {
  padding: 10px 0;
  font-size: 25px;
  color: #fff;
}

.footer-items p {
  color: grey;
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}

.footer h2 {
  margin: 10px 0;
  color: white;
  font-size: 25px;
  font-weight: lighter;
}

.footer ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
}

.footer ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

.footer ul a:hover {
  color: #f70037;
}

.footer ul li {
  margin: 10px 0;
  height: 25px;
}

.footer li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  font-size: 25px;
  height: 15px;
  width: 15px;
  margin: 20px 5px;
  padding: 10px;
  color: #fff;
  transition: 0.3s;
}

.social-media i:hover {
  color: #f70037;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 1085px) {
  .footer-items {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .footer-items {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .navbar {
    display: none;
  }
  .header {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-family: "Poppins", sans-serif;
    background: url("https://i.ibb.co/Cbf2SJc/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  .navbar {
    display: none;
  }
  .header {
    display: block;
  }
  .sshell-video {
    display: none;
  }
  .banner-area {
    margin-top: 20%;
  }
  .banner-area .sshell-logo {
    width: 80%;
  }
  .banner-area h2,
  .banner-area h3 {
    font-size: 2em;
  }
  #about {
    position: relative;
    margin-top: 30%;
    font-size: 13px;
  }
  #laptop {
    display: none;
  }
  #mobile {
    display: block;
  }
  .join {
    position: absolute;
    width: 100px;
  }
  .flexbox-item {
    width: 100px;
    height: 100px;
  }
  .flexbox-item p {
    font-size: 15px;
    text-align: center;
  }
  .sshell-logo-footer {
    display: none;
  }
}