*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background:#000000;
}

img {
    max-width: 100%;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  #scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
  }
  
  #progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    z-index: 99999;
    background: #00b7ff;
  }
  
  #progressbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00b7ff;
    filter: blur(10px);
  }
  
  #progressbar::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00b7ff;
    filter: blur(10px);
  }
  
#team {
    padding: 150px 0;
}
#fun-fact, #team {
    background: #000000;
}

.section-title {
    color: #36bfff;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.section-text>p {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    color: #fff;
}

#team {
    padding: 150px 0
}

#team .team-section-text {
    padding-top: 70px
}

#team .team-single {
    border: 8px solid #36bfff;
    margin: 0 auto;
    padding: 15px;
    width: 320px;
    display: none
}

#team .team-single.active {
    display: block
}

#team .team-list>ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#team .team-list>ul>li {
    position: relative;
    margin: 15px 0
}

#team .team-list>ul>li:first-child {
    margin-top: 0
}

#team .team-list>ul>li:last-child {
    margin-bottom: 0
}

#team .team-list>ul>li.active>a>figure:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(131, 158, 226, .7)
}

#team .team-list>ul>li.active::after {
    color: #3e6edf;
    content: "ï¡";
    font-family: fontawesome;
    margin-top: -10px;
    position: absolute;
    right: 0;
    top: 50%
}

#team .team-list>ul>li>a>figure {
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    width: 100px;
    position: relative
}

#team .team-info>h4 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 20px;
    text-align: center
}

#team .team-img {
    position: relative
}

#team .team-img>img {
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

#team .team-social>ul {
    bottom: 0;
    list-style: none;
    margin: 0 0 0 20px;
    padding: 0;
    position: absolute;
    right: 30px;
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#team .team-social>ul>li>a {
    border-radius: 50%;
    color: #3e6edf;
    display: block;
    font-size: 18px;
    height: 40px;
    margin: 15px 5px;
    padding: 8px;
    position: relative;
    text-align: center;
    width: 40px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}
#team .team-social>ul>li>a:hover {
    background: #3e6edf;
    color: #fff
}

#team .team-social>ul>li>a::after {
    border: 1px solid #dee3f4;
    border-radius: 50%;
    content: "";
    height: 50px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 50px
}

#team .team-single:hover .team-img>img {
    margin-left: -70px
}

#team .team-single:hover .team-social>ul {
    opacity: 1;
    right: 0
}
#mobile{
    display:none;
  }
  
  .footer {
    width: 100%;
    margin: auto;
    margin-top:50px;
    display: block;
    background: #1d232e;
  }
  
  .inner-footer {
    width: 95%;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
  }
  
  .footer-items {
    width: 25%;
    padding: 1px 20px;
    box-sizing: border-box;
  }
  
  .sshell-logo-footer {
    position: absolute;
    width: 15%;
  }
  
  .footer h1 {
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
  }
  
  .footer-items p {
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
  }
  
  .footer h2 {
    margin: 10px 0;
    color: white;
    font-size: 25px;
    font-weight: lighter;
  }
  
  .footer ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
  }
  
  .footer ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
  }
  
  .footer ul a:hover {
    color: #f70037;
  }
  
  .footer ul li {
    margin: 10px 0;
    height: 25px;
  }
  
  .footer li i {
    margin-right: 20px;
  }
  
  .social-media {
    width: 100%;
    color: #fff;
    text-align: center;
  }
  
  .social-media a {
    text-decoration: none;
  }
  
  .social-media i {
    font-size: 25px;
    height: 15px;
    width: 15px;
    margin: 20px 5px;
    padding: 10px;
    color: #fff;
    transition: 0.3s;
  }
  
  .social-media i:hover {
    color: #f70037;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 12px;
  }
  /* Just container/placeholder rulesets - remove once in production */
 .header {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
  }
  
  @media (max-width: 480px) {
   .header {
      position: fixed;
    }
  }
  /* End container/placeholder */
  
  /* Menu Header */
  .header {
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    height: 55px;
    width: 100%;
    z-index: 1;
    position: fixed;
    transition: all 0.4s ease-out, background 1s ease-out;
  }
  .header.menu-open {
    height: 100%;
    background: #111;
    transition: all 0.45s ease-out, background 0.8s ease-out;
  }
  
  /* Menu List items */
  .mobile-menu {
    clear: both;
  }
  .header ul.menu {
    position: relative;
    display: block;
    padding: 0px 40px 0;
    list-style: none;
  }
  .header ul.menu li.menu-item a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 2.8;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  .header ul.menu li.menu-item {
    border-bottom: 1px solid #333;
    margin-top: 5px;
    opacity: 0;
    transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .header ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.35s;
  }
  .header ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.3s;
  }
  .header ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.25s;
  }
  .header ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.2s;
  }
  .header ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.15s;
  }
  .header ul.menu li.menu-item:nth-child(6) {
    transition-delay: 0.1s;
  }
  .header ul.menu li.menu-item:nth-child(7) {
    transition-delay: 0.05s;
  }
  .header.menu-open ul.menu li.menu-item {
    opacity: 1;
  }
  .header.menu-open ul.menu li.menu-item:nth-child(1) {
    transition-delay: 0.05s;
  }
  .header.menu-open ul.menu li.menu-item:nth-child(2) {
    transition-delay: 0.1s;
  }
  .header.menu-open ul.menu li.menu-item:nth-child(3) {
    transition-delay: 0.15s;
  }
  .header.menu-open ul.menu li.menu-item:nth-child(4) {
    transition-delay: 0.2s;
  }
  .header.menu-open ul.menu li.menu-item:nth-child(5) {
    transition-delay: 0.25s;
  }
  .header.menu-open ul.menu li.menu-item:nth-child(6) {
    transition-delay: 0.3s;
  }
  .header.menu-open ul.menu li.menu-item:nth-child(7) {
    transition-delay: 0.35s;
  }
  
  /* Menu Icon */
  .icon-container {
    position: relative;
    /* display: inline-block; */
    z-index: 2;
    float: right;
    height: 55px;
    width: 55px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  .icon-container #menuicon {
    width: 20px;
    height: 10px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
  }
  #menuicon .bar {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    background: #fff;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }
  #menuicon .bar.bar1 {
    -webkit-transform: translateY(0px) rotate(0deg);
    transform: translateY(0px) rotate(0deg);
  }
  #menuicon .bar.bar2 {
    -webkit-transform: translateY(6px) rotate(0deg);
    transform: translateY(6px) rotate(0deg);
  }
  .menu-open .icon-container {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .menu-open .icon-container #menuicon .bar {
    transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0.1s;
  }
  .menu-open .icon-container #menuicon .bar.bar1 {
    -webkit-transform: translateY(4px) rotate(45deg);
    transform: translateY(4px) rotate(45deg);
  }
  .menu-open .icon-container #menuicon .bar.bar2 {
    -webkit-transform: translateY(3px) rotate(-45deg);
    transform: translateY(3px) rotate(-45deg);
  }
  @media screen and (max-width: 1085px) {
    .footer-items {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .footer-items {
      width: 100%;
    }
  }
  
@media screen and (max-width:1200px) {
    #team {
        padding: 120px 0
    }
}

@media screen and (max-width:991px) {
    #team {
        padding: 90px 0
    }
    #team .col-md-5.col-sm-12.pull-right {
        float: none!important
    }
    #team .team-section-text {
        padding-bottom: 50px;
        padding-top: 0
    }
}

@media screen and (max-width:767px) {
    .navbar{
        display: none;
      }
      .header{
        display: block;
      }
    #team {
        padding: 60px 0
    }
    #team .team-section-text {
        padding-bottom: 30px;
        padding-top: 0
    }
    #team .team-single {
        margin: 30px auto 0;
        overflow: hidden;
        padding: 10px;
        width: 100%
    }
    #team .team-list {
        text-align: center
    }
    #team .team-list>ul>li {
        position: relative
    }
    #team .team-list>ul>li>a>figure {
        height: 65px;
        position: relative;
        width: 65px
    }
    #team .team-list>ul>li.active::after {
        margin-top: 10px;
        position: absolute;
        right: 30px!important;
        top: 100%;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    #team .team-list>ul>li {
        display: inline-block;
        margin: 15px 0
    }
    .sshell-logo-footer {
        display: none;
      }
}

@media screen and (max-width: 1200px){
    #team {
    padding: 120px 0;
    }
}
@media screen and (max-width: 991px){
    #team {
            padding: 90px 0;
    }
    #team .team-section-text {
    padding-bottom: 50px;
    padding-top: 0;
}
}