{% extends 'layouts/base_dashboard.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'css/courses.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Courses</h1>
    </div>

    <div class="main">
        <h1>Courses</h1>
        <ul class="cards">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img
                            src="https://static.vecteezy.com/system/resources/previews/000/541/889/original/vector-online-graphic-design-course-illustration.jpg">
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">File System</h2>
                        <p class="card_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores sit ipsum.
                        </p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img
                            src="https://static.vecteezy.com/system/resources/previews/000/541/889/original/vector-online-graphic-design-course-illustration.jpg">
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">File System</h2>
                        <p class="card_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores sit ipsum.
                        </p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img
                            src="https://static.vecteezy.com/system/resources/previews/000/541/889/original/vector-online-graphic-design-course-illustration.jpg">
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">File System</h2>
                        <p class="card_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores sit ipsum.
                        </p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img
                            src="https://static.vecteezy.com/system/resources/previews/000/541/889/original/vector-online-graphic-design-course-illustration.jpg">
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">File System</h2>
                        <p class="card_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores sit ipsum.
                        </p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img
                            src="https://static.vecteezy.com/system/resources/previews/000/541/889/original/vector-online-graphic-design-course-illustration.jpg">
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">File System</h2>
                        <p class="card_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores sit ipsum.
                        </p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img
                            src="https://static.vecteezy.com/system/resources/previews/000/541/889/original/vector-online-graphic-design-course-illustration.jpg">
                    </div>
                    <div class="card_content">
                        <h2 class="card_title">File System</h2>
                        <p class="card_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores sit ipsum.
                        </p>
                        <button class="btn card_btn">Read More</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- Content Row -->
{% endblock %}