{% extends 'layouts/base_dashboard.html' %}
{% load static %}


{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Resources</h1>
    </div>

    <!-- Content Row -->


    <!-- Earnings (Monthly) Card Example -->

    <!--  -->

    <div class="row" id="second-container" style="text-align: center;">
        <div class="col-lg-4">
            <a href="C:\Users\kanis\OneDrive\Desktop\New folder\filesystem.html">
                <div class="card bg-primary mb-3 " style="max-width: 25rem;">
                    <div class="card-body">
                        <i class="fas fa-book-reader" style="font-size: 100px;color: black"></i>
                        <br><br>
                        <h5 class="card-title" style="color: black">File System</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="#">
                <div class="card bg-success mb-3" style="max-width: 25rem;">
                    <div class="card-body">
                        <i class="fas fa-book-reader" style="font-size: 100px;color: black"></i>
                        <br><br>
                        <h5 class="card-title " style="color: black">Linux</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="#">
                <div class="card text-white bg-primary mb-3" style="max-width: 25rem;">
                    <div class="card-body">
                        <i class="fas fa-calendar-alt" style="font-size: 100px;"></i>
                        <br><br>
                        <h5 class="card-title">Take Quiz</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br>

    <div class="row" id="second-container" style="text-align: center;">
        <div class="col-lg-4">
            <a href="#">
                <div class="card bg-success mb-3 " style="max-width: 25rem;">
                    <div class="card-body">
                        <i class="fas fa-book-reader" style="font-size: 100px;color: black"></i>
                        <br><br>
                        <h5 class="card-title" style="color: black">File System</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="#">
                <div class="card bg-primary mb-3" style="max-width: 25rem;">
                    <div class="card-body">
                        <i class="fas fa-book-reader" style="font-size: 100px;color: black"></i>
                        <br><br>
                        <h5 class="card-title " style="color: black">Linux</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4">
            <a href="#">
                <div class="card text-white bg-success mb-3" style="max-width: 25rem;">
                    <div class="card-body">
                        <i class="fas fa-calendar-alt" style="font-size: 100px;"></i>
                        <br><br>
                        <h5 class="card-title">Take Quiz</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}